@display-color: #252b3a; // 投屏字体黑色底色
@unit-color: #8e919d; // 指标值单位颜色
@icon-arrow-red: #ff413a; // 箭头红色
@icon-arrow-green: #28b9b6; // 箭头绿色
@button-blue: #5E7CE0; // 按钮蓝色
@color-orange: #FAAD14; // 橙色